<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="logo psn" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.instagram.com/jan1ooo/" target="_blank">INSTAGRAM</a></li>
            <li><a href="https://www.linkedin.com/in/jan1ooo/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://www.github.com/jan1ooo" target="_blank">GITHUB</a></li>
        </ul>
    </div>
</div>
